<div id="comienzoprin" class="text-center">
  <span class="h1 text-gray-800">Bienvenido <strong><%= @nombre %></strong></span>
  <br>
  <%= image_tag("cover.png", :class => "justify-content-center align-items-center w-100") %>
</div>
