<style>
  body {background-color: #51a4fb;}
</style>

<div id="comienzoprin" class="text-center">
  <span class="h1 text-gray-800">Bienvenido <strong><%= @nombre %></strong></span>
  <br>
</div>

<%= image_tag("cover.png", :class => "justify-content-center align-items-center w-100") %>
<div>
<div id="finprin" class="text-center">
  <span class="h1 text-gray-800">Bienvenido <strong><%= @nombre %></strong></span>
  <br>
</div>
