<div class="row mb-1">
  <div class="input-group flex-nowrap">
    <%# no poner aqui required field %>
    <span class="input-group-text" id="addon-wrapping"><i class="fa fa-phone"></i></span>
    <%= f.number_field :numero_empleado, {class: "form-control", :placeholder=>"Numero telefonico..." }%>
    <%= f.hidden_field :_destroy %>
    <%= link_to "#", class: "btn btn-danger remove_fields" do %>
    Quitar
    <%end%>
  </div>
</div>

