$('#empleado_<%= @empleado.id %>').fadeOut();
$('#comienzoemp').after('<div id="si" class="alert alert-success alert-dismissible fade show mt-2" role="alert"><%= flash.now[:sucess] = "Se ha Borrado el Empleado" %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
$(".alert").first().hide().slideDown(500).delay(4000).slideUp(500, function () {$(this).remove();});