<div class="row">
  <div class="col mb-2 mt-1">
    <%# no poner aqui required field %>
    <%= f.text_field :numero_cliente, {class: "form-control", :placeholder=>"Introduzca el numero telefonico..." }%>
  </div>
  <div class="col ms-2 ">
    <%= f.hidden_field :_destroy %>
      <%= link_to "#", class: "btn btn-danger remove_fields" do %>
	Quitar
      <%end%>
  </div>
</div>
