$('#cliente_<%= @client.id %>').fadeOut();
$('#comienzoclit').before('<div id="si" class="alert alert-info alert-dismissible fade show" role="alert"><%= flash.now[:info] = "Se ha borrado el cliente" %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');